{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<h1>Ton profil</h1>


<p>Email : {{ app.user.email}} </p>
<p>Pseudo : {{app.user }} </p>


{# <a href="{{ path('delete_profil') }}">Supprimer son compte</a> #}

{# historique de réservation #}

{% if app.user.reservations %}
    {% for reservation in app.user.reservations %}
    {{ dump(reservation) }}
    {% endfor %}
{% endif %}



{% endblock %}