{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h1>Organisation de mariages d'exception</h1>

<h2>Leurs avis</h2>

{% for a in avis %}
    <p>{{a}}</p>
    <p>{{a.description}}</p>
{% endfor %}
{% endblock %}
