{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h1>Organisation de mariages d'exception</h1>

<div id="home-intro">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sunt, maiores ex magnam incidunt reiciendis explicabo vero laudantium, officia quae itaque laborum fugit rerum dicta quasi asperiores sapiente tenetur necessitatibus.
        Non, architecto a commodi in iste vel ullam odit possimus, ipsum inventore odio, quas distinctio molestiae dicta adipisci perferendis reiciendis suscipit consequatur dolorum nihil pariatur amet quisquam maiores nostrum! Sit!
    </p>
</div>


{# -----------------------------------------------------avis----------------------------------------- #}
<h2>Leurs avis</h2>
{% for a in avis %}
    <p>{{a}}</p>
    <p>{{a.description}}</p>
    <br>
    <br>
{% endfor %}

<p><a href="{{ path('app_temoignage') }}">Donner son avis</a></p>

{% endblock %}
