{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}

<h1>Nos créations</h1>

{% for creation in creations %}

<p>{{creation.category}}</p>
<p>{{creation}}</p>
<p>{{creation.description}}</p>
    <hr>
{% endfor %}

{% endblock %}
