{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}

<h1>Nos créations</h1>

{% for creation in creations %}

<h2>{{creation.category}}</h2>
<p><a href="{{path('show_creation', {'id': creation.id}) }}"> {{creation}} </a></p>

    <hr>
{% endfor %}

{% endblock %}
