{% extends 'base.html.twig' %}

{% block title %}L'équipe{% endblock %}

{% block body %}

<h1>L'équipe</h1>

{% for worker in workers %}
    <p>{{worker}}</p>
    <p>{{ worker.description }}</p>
{% endfor %}

{% endblock %}
