{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}
{% block meta %}Cérémonie Couture, wedding planner à Strasbourg. Organisation de mariage, boutique avec création de faire parts de mariage personnalisés et autres.{% endblock %}
{% block body %}

<section id="legal">
    <h1>Mentions légales</h1>

    <h2>1. Informations légales</h2>

    <p>Le site ceremonie-couture.fr que vous consultez actuellement est la propriété de: </p>
    <ul>
        <li>Cérémonie Couture</li>
        <li>5 boulevard Laine</li>
        <li>SchneiderBourg</li>
        <li>01 97 59 96 00</li>
    </ul>

    <p>Ce site est hébergé par la société: </p>

    <h2>2. Données personnelles</h2>
    <p>
        Les informations que vous communiquez à notre société sont confidentielles et ne feront l'objet d'aucune commercialisation. Conformément à la loi Informatique et Libertés du 6 Janvier 1978, vous disposez d'un droit d'accès, de rectification, de modification et de suppression des données personnelles que vous nous avez communiquées, que vous pouvez exercer en envoyant un email à : diane(at)ceremonie-couture.fr
    </p>

    <h2>3. Cookies</h2>
    <p>Notre site n'utilise aucun cookies.</p>
</section>

{% endblock %}
