{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}
{% block meta %}Cérémonie Couture, wedding planner à Strasbourg. Organisation de mariage, boutique avec création de faire parts de mariage personnalisés et autres.{% endblock %}
{% block body %}

<section id="legal">
    <h1>Politique de confidentialité de Cérémonie Couture</h1>

    <h2>1. Introduction</h2>
    
    <p>Cérémonie Couture attache une grande importance à la protection de la vie privée et des données personnelles de ses clients. Cette politique de confidentialité explique comment nous collectons, utilisons, et protégeons les informations personnelles des utilisateurs de notre service de création de comptes et de gestion de projets.</p>
    
    <h2>2. Responsable du Traitement des Données</h2>
    
    <p>Le responsable du traitement des données personnelles collectées sur notre site est :</p>
    
    <ul>
        <li>Cérémonie Couture</li>
        <li>5 boulevard Laine</li>
        <li>SchneiderBourg</li>
        <li>01 97 59 96 00</li>
        <li>diane@ceremonie-couture.fr</li>
    </ul>
    
    <h2>3. Données Collectées</h2>
    
    <p>Dans le cadre de la création de compte et du démarrage de nouveaux projets, Cérémonie Couture peut collecter les informations suivantes :</p>
    <ul>
        <li>Informations personnelles : Nom, prénom, adresse email, numéro de téléphone.</li>
        <li>Informations spécifiques au projet : Date de l'événement, nombre d'invités, détails concernant le mariage ou tout autre projet.</li>
        <li>Données de connexion : Identifiants de connexion et historique des commandes.</li>
    </ul>
    
    <h2>4. Finalités du Traitement</h2>
    
    <p>Les données collectées sont utilisées pour :</p>
    <ul>
        <li>Créer et gérer votre compte client sur notre site.</li>
        <li>Démarrer et personnaliser les projets, comme l'organisation de mariages.</li>
        <li>Communiquer avec vous concernant votre projet ou vos commandes.</li>
        <li>Établir des factures conformément à la législation en vigueur.</li>
    </ul>
    
    <h2>5. Base Légale du Traitement</h2>
    
    <p>Le traitement des données personnelles est basé sur :</p>
    
    <ul>
        <li>L'exécution d'un contrat : Les données sont nécessaires pour la gestion des comptes et projets.</li>
        <li>Le respect d'obligations légales : Établissement de factures et tenue des registres.</li>
    </ul>
    
    <h2>6. Durée de Conservation des Données</h2>
    
    <p>Vos données personnelles sont conservées pendant une durée de :</p>
    
    <ul>
        <li>3 mois: pour un <b>projet refusé</b></li>
        <li>2 ans: pour <b>tous les autres projets</b> en base de données</li>
        <li>10 ans: pour un devis d'un <b>projet accepté</b></li>
        <li>2 ans: pour une <b>réservation d'une commande</b> dans la boutique click &amp collect en base de données</li>
        <li>10 ans: pour la <b>facture d'une commande</b></li>
    </ul>
    
    <p>Au-delà, elles sont supprimées ou anonymisées.</p>
    
    <h2>7. Partage des Données</h2>
    
    <p>Cérémonie Couture ne partage pas vos données personnelles à des fins commerciales avec des tiers. Vos informations sont uniquement partagées avec des prestataires de services (hébergement, paiement, etc.) pour les finalités nécessaires à la gestion de vos projets.</p>
    
    <h2>8. Sécurité des Données</h2>
    
    <p>Cérémonie Couture met en œuvre toutes les mesures techniques et organisationnelles appropriées pour protéger vos données personnelles contre toute perte, accès non autorisé, modification ou divulgation.</p>
    
    <h2>9. Vos Droits</h2>
    
    <p>Conformément au RGPD, vous disposez des droits suivants sur vos données :</p>
    
    <ul>
        <li>Droit d'accès : Vous pouvez demander l'accès à vos données personnelles.</li>
        <li>Droit de rectification : Vous pouvez corriger des informations incorrectes ou incomplètes.</li>
        <li>Droit à l'effacement : Vous pouvez demander la suppression de vos données dans certaines conditions.</li>
        <li>Droit à la portabilité : Vous pouvez demander à recevoir vos données dans un format structuré.</li>
        <li>Droit d'opposition : Vous pouvez vous opposer à certains traitements de vos données.</li>
        <li>Pour exercer ces droits, vous pouvez nous contacter à : diane(at)ceremonie-couture.fr</li>
    </ul>
    
    <h2>10. Modifications de la Politique de Confidentialité</h2>
    
    <p>Cérémonie Couture se réserve le droit de modifier cette politique de confidentialité à tout moment. Les modifications seront publiées sur cette page et seront effectives immédiatement.</p>
    
    <h2>11. Contact</h2>
    
    <p>Pour toute question concernant notre politique de confidentialité, vous pouvez nous contacter à :
        diane(at)ceremonie-couture.fr
        01 97 59 96 00
    </p>

</section>


{% endblock %}