{% extends 'base.html.twig' %}

{% block title %}Témoignage{% endblock %}
{% block meta %}Cérémonie Couture, wedding planner à Strasbourg. Organisation de mariage, boutique avec création de faire parts de mariage personnalisés et autres.{% endblock %}

{% block body %}

<section id="temoignage">
    <h1>Témoignage</h1>
    
    <div class="form contact">
        {{form(form)}}
    
    </div>
</section>

{% endblock %}