<h1>Bonjour! C'est ici pour confirmer son email</h1>

<p>
    Confirmez votre adresse email en cliquant sur le lien suivant:
    <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Ce lien va expirer dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A très bientôt
</p>
<small>L'équipe cérémonie couture</small>
