@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Cormorant:ital,wght@0,500;1,500&display=swap');

/* ------------------------------variables  */
:root{
    /* couleurs fixes + */
    --nav-color: #0B3C49;
    --footer-color: #13292F;

    /* couleurs utilisés  */
    --light-green: #DDD8B8;
    --grey-green-color: #DAD7CD;
    --pastel-green-color: #B3CBB9;
    --burgundy-color: #5D2B42;
    --grey-color: #D9D9D9;
    /* --pink-color: #e3787c; */
    --pink-color: #c4979942;

    /* polices d'ecriture  */
    --main-font: "Cormorant Garamond", sans-serif;
    --title-font: "Cormorant SC", sans-serif;

    /* tailles  */
    --p-font-size: 1.3rem;
    --nav-font-size: 1.5rem;
    --medium-font-size: 1.7rem;
    --subtitle-font-size: 1.8rem;
    --title-font-size: 2rem;

    /* tailles tel */
    --title-mb: 1.8rem;
    --subtitle-mb: 1.6rem;
    --medium-mb: 1.4rem;
    --p-mb: 1.2rem;

    --title-font-weight: 500;
    --semi-bold: 600;

    --border-radius: 15px;

    /* img  */
    --main-img-size: 200px;
    --big-img-size: 400px;
    --bigger-img-size: 600px;

    /* padding ou margin */
    --escape-padding: 80px;
    --big-padding: 50px;
    --main-padding: 20px;
    --small-padding: 5px;
    --footer-padding: 250px;

    /* version mobile  */
    --padding-tel: 10px;

    /* hover  */
    --hover-opacity: 0.7;
    --hover-transition: 1s;
}

/* ----------------------------------general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}


#wrapper{
    font-family: var(--main-font);
    background-color: #F1F0F0;
    min-height: 100vh;
    padding-bottom: 1.5rem;
    /* position: relative; */
}

h1{
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    text-align: center;
    padding: var(--big-padding) 0;
    letter-spacing: 1px;
}

h2{
    font-weight: var(--title-font-weight);
    font-size: var(--subtitle-font-size);
    text-align: center
}

h3{
    font-size: var(--medium-font-size);
    font-weight: var(--title-font-weight);
    color: var(--burgundy-color);
}

#page-container{
    padding-bottom: var(--footer-padding);
}


.logo{
    width: 300px;
}


p{
    font-size: var(--p-font-size);
}

textarea{
    width: 100%;
    min-height: 200px;
    font-size: var(--p-font-size);
    font-family: var(--main-font);
    outline: none;
    border: var(--grey-color) solid 3px;
    background: none;
}

/* honeypot */
.hide-robot{
    display: none;
}

/* msg d'erreur  */
.alert{
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 1.2rem;
}

.alert-danger{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/* padding sur le cote  */

#projets, #temoignages, #reservations{
    padding: 0 1rem;
}

/* -----------bouton de contact et sign-in */
.contact-btn{
    position: relative;
    display: inline-block;
    margin: 15px 0;
    padding: 10px 30px;
    text-align: center;
    letter-spacing: 1px;
    color: black;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid var(--burgundy-color);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 var(--burgundy-color);

    width: 100%;
    
}
.contact-btn:hover{
    color: white;
    box-shadow: inset 0 -100px 0 0 var(--burgundy-color);
}
.contact-btn:active{
    transform: scale(0.9);
}



/* ----------------------------------------------------------------------template------------------------------------------------------------------- */

header{
    background-color: var(--burgundy-color);
    padding: var(--main-padding) 0;
}

#admin-nav{
    display: flex;
    justify-content: space-around;
}

#nav-icon, header label{
    display: none;
}

#burgerIcon {
    width: 25px;
    margin: 35px;
}

#admin-nav>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#admin-nav a{
    color: white;
    font-size: var(--nav-font-size);
    text-decoration: none;
    font-weight: var(--semi-bold);

    transition: var(--hover-transition);

    &:hover{
        opacity: var(--hover-opacity);
    }
}

/* ============================================================================INDEX===========================================================  */
#accueil-admin{
    padding: 0 var(--big-padding);
}

#diag-container{
    margin: var(--big-padding) 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#diag-container div{
    width: 500px;
}

/* ****************barre de recherche************ */
#search-bar {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 190px;

    padding: var(--big-padding) 0;

    button{
        border: 1px #424242 solid;
        color: #424242;
        background: transparent;
        height: 30px;
        border-radius: 8px;
        padding: 0 8px;
        
        position: absolute;
        right: 0;

        cursor: pointer;
        transition: var(--hover-transition);

        &hover{
            opacity: var(--hover-opacity);
        }
    }
  }
  
  .search {
    height: 30px;
    padding: 0 10px;
    width: 100%;
    padding-left: 40px;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #D9E8D8;
    color: #0d0c22;
    box-shadow: 0 0 5px #C1D9BF, 0 0 0 10px #f5f5f5eb;
    transition: .3s ease;
  }
  
  .search::placeholder {
    color: #777;
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: #777;
    width: 1rem;
    height: 1rem;
  }

/* ============================================================================BOUTIQUE=========================================================== */

#reservations h2{
    margin: 2rem 0;
}
#reservations ul {
    padding: 1.2rem 0;
}

#reservations ul{
    padding: 0 1rem;
}
#reservations li{
    list-style: none;
    font-size: var(--p-font-size);
}

.reservation-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 50px 0;
}

.reservation-card{
    border: 1px solid;
    padding: 1rem;
}

.reservation-card p{
    display: flex;
    align-items: center;
    padding: 0.2rem 0;
}

/* ***************detail reservation*********** */
.detail-reservation-card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;

    legend{
        font-size: 1.2rem;
    }

    img{
        width: var(--main-img-size);
    }
}

.detail-reservation-head{
    display: flex;
    justify-content: space-between;
}

.detail-reservation-head p{
    padding: 0.2rem;
}

.detail-reservation-action{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.reservation-produit{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 0;
}

/* ************modifier reservation********** */
.reservation-booking{
    padding: 1.2rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

/* ============================================================================TEMOIGNAGE=========================================================== */
.avis-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.projet-card{
    background-color: #D9D9D9;
    padding: var(--main-padding);
    margin: var(--main-padding) 0;
}


/* --------------------detail d'une demande de contact -------------------- */

#detail-projet{
    padding: var(--escape-padding);
}

.projet{
    background-color: var(--grey-color);
    padding: var(--main-padding);
    margin-bottom: var(--big-padding);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.projet-state{
    text-align: end;
}

.projet-entete{
    display: flex;
    justify-content: space-between;
    padding: var(--main-padding) 0;
}

.projet-action{
    display: flex;
    justify-content: space-between;
    font-size: var(--p-font-size)
}


#detail-projet form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem 0;
}

.small-btn{
    width: 12rem;
    height: 2rem;
    border-radius: 5px;
    cursor: pointer;
    
    transition: var(--hover-transition);

    &:hover{
        opacity: var(--hover-opacity);
    }
}

.edit-comment{
    width: 100%;
    font-size: var(--p-font-size);
    font-family: var(--main-font);
    border: var(--grey-color) solid 3px;
    background: none;
}


.projet-suivi{
    border: var(--grey-color) solid 3px;
    margin: var(--main-padding) 0;
    display: flex;
    justify-content: space-between;
}

.projet-suivi i{
    color: black;
}

.projet-suivi p{
    padding: var(--small-padding);
}

.projet-devis{
    padding: 1.2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: flex-start;

    button{
        height: 50px;
        margin: 5px;
        width: 120px;
        background: #333;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        border: solid #404c5d 1px;
        color: rgb(161, 161, 161);
        border-radius: 5px;
        background: linear-gradient(145deg, #2e2d2d, #212121);

        a{
            color: white;
            text-decoration: none;
        }
    }

    button:hover {
        box-shadow: 1px 1px 13px #5d2b42, -1px -1px 13px #5d2b42;
        color: #d6d6d6;
        -webkit-transition: 500ms;
        transition: 500ms;
    }
}

/* ===================================================================modifier projet formulaire ===================================================== */

#contact-form{
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #c7cedb66;
    
    padding: 20px 0;
    margin: 20px 0;
    font-size: var(--p-font-size);

    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    select, input{
        height: 30px;
        background-color: #05060f0a;
    }
    .form-flex{
        display: flex;
        gap: 30px;
    }
    
    .form-col{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }

    #project_description{
        height: 50px;
    }

    input {
        border-radius: 15px;
        padding: 0 10px;
        border: 2px solid transparent;
        transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
      }
    
    /* pour le formulaire de contact  */
    textarea {
        border-radius: 15px;
        padding: 0 10px;
        border: 2px solid transparent;
        background-color: #05060f0a;
        transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
      }
      #testimony div{
        display: flex;
        flex-direction: column;
        margin: 20px 0;
      }
      
      label {
        margin-bottom: 10px;
        font-weight: bold;
        color: #05060f99;
        transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
      }
      
      input:hover, input:focus {
        outline: none;
        border-color: #05060f;
      }
      
      .form-flex:hover label, input:focus {
        color: #05060fc2;
      }

      /* *****checkbox  */

      

}

/* .change-form{
    display: none;
} */
/* ======================================================================================================================================================================================================================================================REPONSIVE==================================================================================================================================================================================================================================== */
@media screen and (max-width: 768px) {
    /* ****************general**************  */
    h1{
        font-size: var(--title-mb);
        margin: 0 var(--padding-tel);
    }

    h2{
        font-size: var(--subtitle-mb);
        padding: 1rem 0;
    }

    h3{
        font-size: var(--medium-mb);
    }

    p{
        font-size: var(--p-mb);
    }

    #page-container{
        padding: 0;
    }

    /* padding sur le cote  */
    #accueil-admin{
        padding: 15px;
    }
    
    /* *********navbar/header*********  */

    #admin-nav{
        display: none;
    }

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header label {
        display: initial;
    }
    /* ouvre la navbar responsive  */
    #nav-icon:checked ~ nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    #admin-nav>div {
        gap: 5px;
    }

    /* **************index*********************** */
    #diag-container div {
        width: 80vw;
    }

    /* ********************************************detail projet ********************************** */
    #detail-projet{
        padding: 0 1rem;
    }
    
    .projet-entete{
        flex-direction: column;
        gap: 1rem;
    }
    
    .projet p{
        padding: 5px 0;
    }

}