@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Cormorant:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');

/* ------------------------------variables  */
:root{
    /* couleurs fixes + */
    --nav-color: #0B3C49;
    --footer-color: #13292F;

    /* couleurs utilisés  */
    --light-green: #DDD8B8;
    --grey-green-color: #DAD7CD;
    --pastel-green-color: #B3CBB9;
    --burgundy-color: #5D2B42;
    --grey-color: #D9D9D9;
    /* --pink-color: #e3787c; */
    --pink-color: #c4979942;

    /* polices d'ecriture  */
    --main-font: "Cormorant Garamond", sans-serif;
    --title-font: "Cormorant SC", sans-serif;
    --contact-font: "Cormorant Unicase", serif;

    /* tailles  */
    --p-font-size: 1.3rem;
    --nav-font-size: 1.5rem;
    --medium-font-size: 1.7rem;
    --subtitle-font-size: 1.8rem;
    --title-font-size: 2rem;

    /* tailles tel */
    --title-mb: 1.8rem;
    --subtitle-mb: 1.6rem;
    --medium-mb: 1.4rem;
    --p-mb: 1.2rem;

    --title-font-weight: 500;
    --semi-bold: 600;

    --border-radius: 15px;

    /* img  */
    --main-img-size: 200px;
    --big-img-size: 400px;
    --bigger-img-size: 600px;

    /* padding ou margin */
    --escape-padding: 80px;
    --big-padding: 50px;
    --main-padding: 20px;
    --small-padding: 5px;
    --footer-padding: 130px;

    /* version mobile  */
    --padding-tel: 10px;

    /* hover  */
    --hover-opacity: 0.7;
    --hover-transition: 1s;
}

/* img{
    width: 200px;
} */

/* ----------------------------------general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}


#wrapper{
    font-family: var(--main-font);
    background-color: #F1F0F0;
    min-height: 100vh;
    /* position: relative; */
}

h1{
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    text-align: center;
    padding: var(--big-padding) 0;
    letter-spacing: 1px;
}

h2{
    font-weight: var(--title-font-weight);
    font-size: var(--subtitle-font-size);
    text-align: center
}

h3{
    font-size: var(--medium-font-size);
    font-weight: var(--title-font-weight);
    color: var(--burgundy-color);
}

#page-container{
    padding-bottom: var(--footer-padding);
}


.logo{
    width: 300px;
}


p{
    font-size: var(--p-font-size);
}

textarea{
    width: 100%;
    min-height: 200px;
    font-size: var(--p-font-size);
    font-family: var(--main-font);
}

/* honeypot */
.hide-robot{
    display: none;
}

/* -----------bouton de formulaire */
.add-btn{
    background-color: var(--grey-green-color);
    color: black;
    padding: var(--small-padding) var(--main-padding);
    border: none;
    margin: var(--main-padding) 0;
    border-radius: var(--border-radius);
    cursor: pointer;
}

/* -----------bouton de contact et sign-in */
.contact-btn{
    position: relative;
    display: inline-block;
    margin: 15px 0;
    padding: 10px 30px;
    text-align: center;
    letter-spacing: 1px;
    color: var(--burgundy-color);
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid var(--burgundy-color);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 var(--burgundy-color);
    
}
.contact-btn:hover{
    color: white;
    box-shadow: inset 0 -100px 0 0 var(--burgundy-color);
}
.contact-btn:active{
    transform: scale(0.9);
}

/* --------separation des sections  */
#home-intro, #home-presentation, #home-contact, #home-prestation, #home-service{
    margin-bottom: var(--escape-padding);
}

/* ---------padding sur le coté----- */
#home-presentation, #home-avis, #equipe, #prestation, #home-contact figure, #commerce-produit, #creation, #detail-creation, #contact, #login, #temoignage{
    padding: 0 var(--big-padding);
}

/* ==================================================================================template=================================================================== */

/* --------------header  */

header{
    display: flex;
    justify-content: space-around;
    background-color: var(--nav-color);
}
nav{
    display: flex;
    gap: 3rem;
}

#burgerIcon {
    width: 25px;
    margin: 35px;
}

#nav-icon, header label{
    display: none;
}

#first-nav, #second-nav{
    display: flex;
}

#first-nav, #second-nav{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.accueil{
    display: none;
}

#nav a{
    color: white;
    font-weight: var(--semi-bold);
    font-size: var(--nav-font-size);
    text-decoration: none;
    padding: var(--small-padding) 0;
}


/* ----------------footer */
footer{
    background-color: var(--footer-color);
    bottom: 0;
    width: 100%;
    /* height: var(--footer-padding);  */

    li{
        list-style: none;
        color: white;
        padding: var(--small-padding) 0;
        font-size: var(--p-font-size);
    }

    li:first-child{
        font-weight: 700;
        font-size: 1.4rem;
        padding-bottom: 10px;
    }
}

footer p, footer a{
    text-align: center;
    color: white;
    padding: var(--main-padding) 0;
}

.footer-align{
    display: flex;
    justify-content: space-around;
}

/* ****************barre de recherche dans le footer************ */
#search-bar {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 190px;
  }
  
  .search {
    height: 30px;
    padding: 0 10px;
    width: 100%;
    padding-left: 40px;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #D9E8D8;
    color: #0d0c22;
    box-shadow: 0 0 5px #C1D9BF, 0 0 0 10px #f5f5f5eb;
    transition: .3s ease;
  }
  
  .search::placeholder {
    color: #777;
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: #777;
    width: 1rem;
    height: 1rem;
  }
  
/*=============== SCROLL UP ===============*/

.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: black;
    color: white;
    box-shadow: 0 12px 24px hsla(228, 48%, 4%, .5);
    display: inline-flex;
    padding: 12px 20px;
    font-size: 1.1rem;
    transition: bottom .4s, transform .4s;
    border-radius: 50%;
    text-decoration: none;
    }
    
    .scrollup:hover{
    transform: translateY(-.5rem);
    }
    
    /* Show Scroll Up */
    
    .show-scroll{
    bottom: 4rem;
    }


/* ============================================================================landing page======================================================================= */



#home-intro p{
    background-color: var(--pink-color);
    padding: 30px 80px;
}

#home-presentation{
    display: flex;
}

#home-presentation h2{
    padding-bottom: var(--main-padding);
}

#home-presentation article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--main-padding);
}

#home-presentation p{
    text-align: center;
}


/* ------3 cards proposition, evjf, organisation----------- */

.home-prestation-card{
    display: flex;
    align-items: center;
    padding: var(--escape-padding) 100px;
}

/* inverse le sens une fois sur deux  */
.home-prestation-card:nth-child(even){
    flex-direction: row-reverse;
}
.home-prestation-card:nth-child(even) p{
    text-align: left;

}
.home-prestation-card p{
    text-align: right;
}

.home-prestation-card img{
    width: var(--bigger-img-size);
    border-radius: var(--border-radius);
}

.home-prestation-card h3{
    padding: var(--big-padding) 0;
    text-align: center;
}

.home-prestation-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--big-padding);
}

/* -------------------5 bulles "nous faire confiance"----------------- */

#service-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: var(--big-padding) 0;
}

.service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .service-card svg{
    background-color: var(--light-green);
    border-radius: 50%;
    margin-bottom: var(--main-padding);
    padding: 30px;
} */
.service-card figure{
    background-color: var(--light-green);
    border-radius: 50%;
    margin-bottom: var(--main-padding);
}

.service-card img{
    width: 120px;
    padding: 30px;
}

/* ---------------------avis------------------------------------- */
#home-avis h3, #home-service h3{
    text-align: center;
    font-size: var(--subtitle-font-size);
}

.avis-card-header{
    display: flex;
    justify-content: space-between;
}

.avis-card-header p{
    color: var(--burgundy-color);
    font-family: var(--title-font);
    font-weight: var(--semi-bold);
    font-size: var(--nav-font-size);
    padding-bottom: var(--main-padding);
}

.avis-card-content p{
    text-align: justify;
}

/* bouton donner son avis  */
.btn-avis{
    padding: 10px 40px;
    border: 3px solid var(--burgundy-color);
    cursor: pointer;
    margin: var(--big-padding) 0;
}

/* ----------------------------acces au formulaire de contact--------------------- */
#home-contact{
    background-color: #D2DDD2;
    padding: 50px;
    border: 1px solid;
    margin: 20px;
}

#home-contact svg{
    width: 4rem;
}

#home-contact p{
    font-family: var(--contact-font);
    font-weight: var(--title-font-weight);
    font-size: 2.5rem;
    letter-spacing: 1.5px;

    display: flex;
    justify-content: center;
}

#home-contact a{
    text-decoration: none;
    color: black;
}

/* ---------------------------effets visuels / hover --------------------- */

.btn-contact button:hover, .service-card figure:hover{
    opacity: var(--hover-opacity);
}

.btn-contact button, .service-card figure{
    transition: var(--hover-transition);
}
/* =================================================================================LOGIN========================================================================== */

#login p{
    text-align: center;
    margin: var(--big-padding) 0;
}

#login-form{
    display: flex;
    flex-direction: column;
    gap: var(--small-padding);
    width: 60%;
    margin: auto;
}

.login-row{
    display: flex;
    flex-direction: column;
    gap: var(--small-padding);

    input {
        background-color: #f5f5f5;
        padding: .15rem .5rem;
        min-height: 40px;
        border-radius: var(--border-radius);
        outline: none;
        border: none;
        line-height: 1.15;
      }
      
      input:focus {
        border-bottom: var(--burgundy-color)  2px solid ;
        border-radius: 15px 15px 2px 2px;
      }
      
      input:hover {
        outline: 3px solid lightgrey;
      }
}


.login-with-google-btn button {
    transition: background-color .3s, box-shadow .3s;

    cursor: pointer;
      
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    
    &:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    &:active {
      background-color: #eeeeee;
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
    
    &:disabled {
      filter: grayscale(100%);
      background-color: #ebebeb;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
      cursor: not-allowed;
    }

  }

/* =================================================================================BOUTIQUE========================================================================= */

/* ------------------------------index-------------------------- */
.shop-intro{
    padding: var(--big-padding);
}

.shop-intro p{
    text-align: center;
}


#nav-batch{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: var(--main-padding) 0;
    background-color: var(--light-green);
    margin: var(--big-padding) 0;
}

#nav-batch a{
    font-size: var(--subtitle-font-size);
    color: black;
    text-decoration: none;
}

.shop-collection{
    margin: var(--main-padding) 0;
}

.shop-collection h3{
    margin-left: var(--main-padding);
}

.shop-collection-product{
    display: flex;
    flex-wrap: wrap;
}


.shop-collection-product img{
    width: var(--big-img-size);
    margin: var(--main-padding);
}

.shop-collection-title{
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.shop-collection-title i {
    padding: 0 var(--small-padding);
}


/* -----------------------------------batch/collection----------------------- */
.batch-description{
    padding: var(--big-padding);
}

.collection-produit{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.collection-produit-card{
    margin: var(--main-padding) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection-produit-card p{
    padding: var(--small-padding) 0;
}

#shop-batch img{
    width: var(--big-img-size);
}


/* ------------------------------------detail produit----------------------------- */
.produit-batch-title{
    color: black;
}

#commerce-produit img{
    width: var(--big-img-size);
}

.produit-card{
    display: flex;
    align-items: center;
    margin-bottom: var(--big-padding);
}

.produit-card-main{
    padding: 0 var(--main-padding);
}

.produit-card-main p{
    padding: var(--small-padding) 0;
}

#commerce-produit h2{
    text-align: left;
    margin-bottom: var(--big-padding);
}

.produit-prix{
    font-weight: var(--semi-bold);
}

small{
    font-size: medium;
}


.add-basket-btn{
    margin: var(--small-padding) 0;
    padding: var(--main-padding) var(--big-padding);
    border: solid 3px var(--grey-green-color);
    cursor: pointer;
}

/* ----propositions---- */
#propositions-container{
    display: flex;
    flex-wrap: wrap;
}

/* -----------------------------------panier----------------------- */

.panier-head, .panier{
    display: flex;
    justify-content: space-between;
    padding: var(--main-padding);
    align-items: center;
}


.panier-produit img{
    width: var(--main-img-size);
}

.basket-qtt{
    display: inline-flex;
    align-items: center;
}


.basket-qtt-nb{
    font-size: 1.5rem;
    padding: 0 var(--small-padding);
}

.basket-soustotal{
    display: flex;
    flex-direction: column;
}


/* =========================================================================EQUIPE================================================================================= */

.equipe-card{
    display: flex;
    align-items: center;
    margin: var(--escape-padding) 0;
}

.equipe-card-main, .equipe-card figure{
    flex: 1;
}


/* inverse le sens une fois sur deux  */
.equipe-card:nth-child(odd){
    flex-direction: row-reverse;
}


.equipe-card-title{
    display: flex;
    justify-content: center;
    margin-bottom: var(--main-padding);
}

.equipe-card-main{
    padding: 0 var(--big-padding);
}

.equipe-job{
    padding: 20px 0 0 20px;
}

/* -------------card differente pour chaque membre de l'equipe */


.equipe-card img{
    width: var(--main-img-size);
}

.equipe-card figure{
    display: flex;
    justify-content: center;
}

#worker-1 img{
    border-radius: 200px 200px 0 0;
}



#worker-2 figure{
    background-image: url('../img/marble-4924052_1280.jpg');
}

#worker-3 img{
    border: 20px solid var(--burgundy-color);
    border-radius: 50%;
}

/* ===================================================================================PRESTATION===================================================================== */

#prestation-intro img{
    width: 80%;
}

#prestation-intro p{
    padding: 0 var(--escape-padding);
}

.prestation-card img{
    width: 300px;
}

#prestation figure{
    display: flex;
    justify-content: center;
    margin-bottom: var(--big-padding);
}


.prestation-card{
    display: flex;
    align-items: center;
    margin: var(--big-padding) 0;
    /* padding: 0 var(--escape-padding); */
}

.prestation-card-main{
    padding: 0 var(--big-padding);
}

.prestation-card-main p{
    padding: var(--main-padding) 0;
}
/* ================================================================================CONTACT================================================================ */

#contact-form{
    
    display: flex;
    flex-direction: column;
    align-items: center;

    
    padding: 20px 0;
    margin: 20px 0;
    font-size: var(--p-font-size);

    background: rgb(207 181 207 / 25%);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */

    select, input{
        height: 30px;
        background-color: #05060f0a;
    }
    .form-flex{
        display: flex;
        gap: 30px;
    }
    
    .form-col{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }

    #project_description{
        height: 50px;
    }

    input {
        border-radius: 15px;
        padding: 0 10px;
        border: 2px solid transparent;
        transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
      }
    
    /* pour le formulaire de contact  */
    textarea {
        border-radius: 15px;
        padding: 0 10px;
        border: 2px solid transparent;
        background-color: #05060f0a;
        transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
      }
      #testimony div{
        display: flex;
        flex-direction: column;
        margin: 20px 0;
      }
      
      label {
        margin-bottom: 10px;
        font-weight: bold;
        color: #05060f99;
        transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
      }
      
      input:hover, input:focus {
        outline: none;
        border-color: #05060f;
      }
      
      .form-flex:hover label, input:focus {
        color: #05060fc2;
      }

      /* *****checkbox  */

      

}

/* ====================================================================CREATION portefolio=================================================================== */

/* -------------------liste---------------  */
.creation-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
    img{
        width: var(--big-img-size);
    }

    .creation-card{
        margin: var(--main-padding);
        transition: var(--hover-transition);

        position: relative;
    }

    figcaption{
        text-align: center;
        font-size: var(--p-font-size);  
        position: absolute;
        bottom: 0;
        background-color: white;
        width: 100%;
        padding: 10px 0;
        display: none;    
        color: #000;
    }


}

.creation-card:hover figcaption{
    display: block;
}

/* -------------------detail---------------  */
#detail-creation{
    
    img{
        width: var(--big-img-size);
        padding: var(--main-padding);
        padding-left: 0;
    }

    h2{
        text-align: start;
        margin-bottom: var(--main-padding);
    }
}
/* ================================================================================PROFIL================================================================ */
#profil{
    padding: var(--escape-padding);
}

/* ------------------------historique de reservation------------------------ */
.reservation-card{
    padding: var(--main-padding);
}

.reservation-card img{
    width: var(--main-img-size);
}

.reservation-card-header{
    display: flex;
    justify-content: space-between;
}

.reservation-produit-card{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

.reservation-produit-card figure{
    padding-right: var(--main-padding);
}

/* ------------------------suivi du projet------------------------ */

.projet-card{
    background-color: #D9D9D9;
    padding: var(--main-padding);
}


/* --------------------detail d'une demande de contact -------------------- */


.projet{
    background-color: var(--grey-color);
    padding: var(--main-padding);
    margin-bottom: var(--big-padding);
}

.projet-state{
    text-align: end;
}

.projet-entete{
    display: flex;
    justify-content: space-between;
    padding: var(--main-padding) 0;
}

.projet-suivi{
    border: var(--grey-color) solid 3px;
    margin: var(--main-padding) 0;
    display: flex;
    justify-content: space-between;
}

.projet-suivi i{
    color: black;
}

.projet-suivi p{
    padding: var(--small-padding);
}

/* ======================================================================================================================================================================================================================================================REPONSIVE==================================================================================================================================================================================================================================== */
@media screen and (max-width: 768px){

    /* ---------navbar------ */
    header{
        flex-direction: column;
    }
    header label{
        display: initial;
        text-align: center;
    }
    nav{
        display: none;
    }

    #nav-icon:checked ~ nav{
        display: initial !important;
    }
    #nav{
        flex-direction: column;
    }

    #nav .logo{
        display: none;
    }

    #first-nav a, #second-nav a{
        border-top: 1px solid rgb(0 0 0 / 93%);
    }

    .accueil{
        display: block;
    }

    /* ---------general------------ */
    h1{
        font-size: var(--title-mb);
        margin: 0 var(--padding-tel);
    }

    h2{
        font-size: var(--subtitle-mb);
    }

    h3{
        font-size: var(--medium-mb);
    }

    p{
        font-size: var(--p-mb);
    }

    #page-container{
        padding: 0;
    }
    /* ---------flex-direction column------- */
    .home-prestation-card, .home-prestation-card:nth-child(even), #home-presentation, .prestation-card, .equipe-card, .equipe-card:nth-child(odd), #contact-form .form-flex, .produit-card {
        flex-direction: column;
    }

    /* ---------padding tel---------  */
    .home-prestation-card, .home-prestation-card h3, .home-prestation-card p, #home-contact, #prestation-intro p, .prestation-card-main, .equipe-card-main, .shop-intro, .batch-description{
        padding: var(--padding-tel);
    }

    /* images  */
    .home-prestation-card img, .shop-collection-product img, #detail-creation img, #shop-batch img, #commerce-produit img{
        width: var(--main-img-size);
        padding: var(--padding-tel);
    }

    /* =======================================================================landing page======================================================================= */

    /* padding  */
    #home-presentation, #home-avis, #equipe, #prestation, #home-contact figure, #commerce-produit, #creation, #detail-creation, #contact, .home-prestation-card-content, #login{
        padding: 5px;
    }

    #home-intro p{
        padding: var(--padding-tel);
        text-align: center;
    }

    #home-presentation{
        gap: var(--padding-tel);
    }



    /* ----contact---- */
    #home-contact p{
        font-size: var(--title-mb);
    }

    .service-card img{
        width: 70px;
        padding: 15px;
    }

    /* **********footer*********** */
    .footer-align{
        flex-direction: column;
        gap: 30px;
    }

    /* =======================================================================PORTFOLIO======================================================================= */
    .creation-container img{
        width: 70vw;
        margin: auto;
    }
    .creation-container figcaption {
        display: block;
    }

    /* =======================================================================EQUIPE======================================================================= */
    .equipe-card {
        margin: 20px 0;
    }
    /* =======================================================================CONTACT======================================================================= */
    #contact-form .form-flex {
        gap: 10px;
    }
    

    /* --------------------------------------------LOGIN---------------------------------------------- */
    #login-form{
        width: 90%;
    }

}