@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Cormorant:ital,wght@0,500;1,500&display=swap');

/* ------------------------------variables  */
:root{
    /* couleurs fixes + */
    --nav-color: #0B3C49;
    --footer-color: #13292F;

    /* couleurs utilisés  */
    --light-green: #DDD8B8;
    --grey-green-color: #DAD7CD;
    --pastel-green-color: #B3CBB9;
    --burgundy-color: #5D2B42;
    --grey-color: #D9D9D9;
    --pink-color: #c4979942;
    /* --pink-color: #C49799; */

    /* polices d'ecriture  */
    --main-font: "Cormorant Garamond", sans-serif;
    --title-font: "Cormorant SC", sans-serif;

    /* tailles  */
    --p-font-size: 1.2rem;
    --nav-font-size: 1.4rem;
    --medium-font-size: 1.7rem;
    --subtitle-font-size: 1.8rem;
    --title-font-size: 2rem;

    --title-font-weight: 500;
    --semi-bold: 600;

    --border-radius: 15px;

    /* img  */
    --main-img-size: 200px;
    --big-img-size: 400px;
    --bigger-img-size: 600px;

    /* padding ou margin */
    --escape-padding: 80px;
    --big-padding: 50px;
    --main-padding: 20px;
    --small-padding: 5px;
    --footer-padding: 130px;

    /* hover  */
    --hover-opacity: 0.7;
    --hover-transition: 1s;
}

/* img{
    width: 200px;
} */

/* ----------------------------------general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}


#wrapper{
    font-family: var(--main-font);
    background-color: #F1F0F0;
    min-height: 100vh;
    /* position: relative; */
}

h1{
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    text-align: center;
    padding: var(--big-padding) 0;
    letter-spacing: 1px;
}

h2{
    font-weight: var(--title-font-weight);
    font-size: var(--subtitle-font-size);
}

h3{
    font-size: var(--medium-font-size);
    font-weight: var(--title-font-weight);
    color: var(--burgundy-color);
}

#page-container{
    padding-bottom: var(--footer-padding);
}


.logo{
    width: 300px;
}


p{
    font-size: var(--p-font-size);
}

textarea{
    width: 100%;
    min-height: 200px;
    font-size: var(--p-font-size);
    font-family: var(--main-font);
}

/* honeypot */
.hide-robot{
    display: none;
}

/* -----------bouton de formulaire */
.add-btn{
    background-color: var(--grey-green-color);
    color: black;
    padding: var(--small-padding) var(--main-padding);
    border: none;
    margin: var(--main-padding) 0;
    border-radius: var(--border-radius);
    cursor: pointer;
}

/* -------------------------------------------------------templates------------------------------------------------------- */

/* --------------header  */

#nav{
    display: flex;
    justify-content: space-around;
    background-color: var(--nav-color);
}

#nav>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nav a{
    color: white;
    font-weight: var(--semi-bold);
    font-size: var(--nav-font-size);
    text-decoration: none;
    padding: var(--small-padding) 0;
}


/* ----------------footer */
footer{
    background-color: var(--footer-color);
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: var(--footer-padding); 
}

footer p, footer a{
    text-align: center;
    color: white;
    padding: var(--main-padding) 0;
}

.footer-align{
    display: flex;
    justify-content: space-around;
}


/* ---------------------------------------------------------------landing page------------------------------------------------------- */

/* --------separation des sections  */
#home-intro, #home-presentation, #home-avis, #home-prestation, #home-service{
    margin-bottom: var(--escape-padding);
}

/* ---------padding sur le coté----- */
#home-presentation, #home-avis, #equipe, #prestation, #home-contact figure{
    padding: 0 var(--big-padding);
}

#home-intro p{
    background-color: var(--pink-color);
    padding: 30px 80px;
}

#home-presentation{
    display: flex;
}

#home-presentation h2{
    padding-bottom: var(--main-padding);
}

#home-presentation article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--main-padding);
}

#home-presentation p{
    text-align: center;
}


/* ------3 cards proposition, evjf, organisation----------- */

#home-prestation h2{
    text-align: center;
}

.home-prestation-card{
    display: flex;
    align-items: center;
    padding: var(--escape-padding) 100px;
}

/* inverse le sens une fois sur deux  */
.home-prestation-card:nth-child(even){
    flex-direction: row-reverse;
}
.home-prestation-card p{
    text-align: center;
}

.home-prestation-card img{
    width: var(--bigger-img-size);
    border-radius: var(--border-radius);
}

.home-prestation-card h3{
    padding: var(--big-padding) 0;
}

.home-prestation-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--big-padding);
}

/* -------------------5 bulles "nous faire confiance"----------------- */

#service-cards{
    display: flex;
    justify-content: space-around;
    padding: var(--big-padding) 0;
}

.service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-card figure{
    background-color: var(--light-green);
    border-radius: 50%;
    margin-bottom: var(--main-padding);
}

.service-card img{
    width: 120px;
    padding: 30px;
}

/* ---------------------avis------------------------------------- */
#home-avis h3, #home-service h3{
    text-align: center;
    font-size: var(--subtitle-font-size);
}

.avis-card-header p{
    color: var(--burgundy-color);
    font-family: var(--title-font);
    font-weight: var(--semi-bold);
    font-size: var(--nav-font-size);
    padding-bottom: var(--main-padding);
}

.avis-card-content p{
    text-align: justify;
}

/* bouton donner son avis  */
.btn-avis{
    padding: 10px 40px;
    border: 3px solid var(--burgundy-color);
    cursor: pointer;
    margin: var(--big-padding) 0;
}

/* ----------------------------acces au formulaire de contact--------------------- */
#home-contact figure{
    display: flex;
    justify-content: center;
    position: relative;
}

#home-contact img{
    width: 100%;
}

.btn-contact{
    position: absolute;
    top: 50%;
    
}

.btn-contact button{
    padding: var(--main-padding) var(--big-padding);
    border-radius: 5px;
    font-size: var(--title-font-size);
    font-family: var(--title-font);
    cursor: pointer;
    border: none;
    transition: var(--hover-transition);
}

.btn-contact button:hover{
    opacity: var(--hover-opacity);
}


/* ---------------------------------------------------------------commerce------------------------------------------------------- */

/* --------batch/collection */

#commerce-batch img{
    width: var(--main-img-size);
}


#nav-batch{
    display: flex;
    justify-content: space-around;
    padding: var(--main-padding) 0;
    background-color: var(--light-green);
    margin: var(--main-padding) 0;
}

#nav-batch a{
    font-size: var(--subtitle-font-size);
    color: black;
}

.basket-qtt{
    display: inline-flex;
    align-items: center;
}


.basket-qtt-nb{
    font-size: 1.5rem;
    padding: 0 var(--small-padding);
}


/* --------detail produit */
#commerce-produit img{
    width: var(--big-img-size);
}

/* ---------------------------------------------------------------equipe------------------------------------------------------- */

.equipe-card{
    display: flex;
    align-items: center;
    margin: var(--escape-padding) 0;
}

.equipe-card-main, .equipe-card figure{
    flex: 1;
}


/* inverse le sens une fois sur deux  */
#equipe .equipe-card:nth-child(odd){
    flex-direction: row-reverse;
}



.equipe-card-title{
    display: flex;
    justify-content: center;
    margin-bottom: var(--main-padding);
}

.equipe-card-main{
    padding: 0 var(--big-padding);
}

.equipe-job{
    padding: 20px 0 0 20px;
}

/* -------------card differente pour chaque membre de l'equipe */


.equipe-card img{
    width: var(--main-img-size);
}

.equipe-card figure{
    display: flex;
    justify-content: center;
}

#worker-1 img{
    border-radius: 200px 200px 0 0;
}



#worker-2 figure{
    background-image: url('../img/marble-4924052_1280.jpg');
}

#worker-3 img{
    border: 20px solid var(--burgundy-color);
    border-radius: 50%;
}

/* ---------------------------------------------------------------prestation------------------------------------------------------- */

#prestation-intro img{
    width: 80%;
}

#prestation-intro p{
    padding: 0 var(--escape-padding);
}

.prestation-card img{
    width: 300px;
}

#prestation figure{
    display: flex;
    justify-content: center;
    margin-bottom: var(--big-padding);
}


.prestation-card{
    display: flex;
    align-items: center;
    margin: var(--big-padding) 0;
    /* padding: 0 var(--escape-padding); */
}

.prestation-card-main{
    padding: 0 var(--big-padding);
}

.prestation-card-main p{
    padding: var(--main-padding) 0;
}


/* =================================================================================================================================================================
======================================================================ADMIN======================================================================================
================================================================================================================================================================= */

/* template */

#admin-nav{
    background-color: var(--burgundy-color);
    display: flex;
    justify-content: space-around;
    padding: var(--main-padding) 0;
}

#admin-nav>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#admin-nav a{
    color: white;
    font-size: var(--nav-font-size);
}

/* ----------------------------------------------------------------------------demandes de contact------------------------------------ */

.projet-card{
    background-color: #D9D9D9;
    padding: var(--main-padding);
}


/* --------------------detail d'une demande de contact -------------------- */

#detail-projet{
    padding: var(--escape-padding);
}

#detail-projet h2{
    text-align: center;
}

.projet{
    background-color: var(--grey-color);
    padding: var(--main-padding);
    margin-bottom: var(--big-padding);
}

.projet-state{
    text-align: end;
}

.projet-entete{
    display: flex;
    justify-content: space-between;
    padding: var(--main-padding) 0;
}

.projet-suivi{
    border: var(--grey-color) solid 3px;
    margin: var(--main-padding) 0;
    display: flex;
    justify-content: space-between;
}

.projet-suivi i{
    color: black;
}

.projet-suivi p{
    padding: var(--small-padding);
}

/* .change-form{
    display: none;
} */