{% extends 'adminBase.html.twig' %}

{% block title %}Liste des rendez-vous{% endblock %}

{% block body %}

<button id="calendar-btn">Ajouter un évènement</button>
<div id="calendrier" data-calendar="{{data}}">

</div>

</section>
<script src="
https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js
"></script>
<script src="{{asset('js/calendar.js')}}"></script>


{% endblock %}
