{% extends 'adminBase.html.twig' %}

{% block title %}Prise de rendez-vous{% endblock %}

{% block body %}

<h1>Prise de rendez-vous</h1>

<form action="{{path('create_appointment')}}" method="POST">
    <label for="appointment">Choisissez une date</label><br>
    {# choisit la date avec comme valeur par defaut demain meme heure, min demain meme heure et max dans 2 mois #}
    <input type="datetime-local" name="appointment" value="{{ "now"|date_modify("+1 day")|date("Y-m-d H:i") }}" min="{{ "now"|date_modify("+1 day")|date("Y-m-d H:i") }}"
    max="{{ "now"|date_modify("+2 months")|date("Y-m-d H:i") }}"><br>
    {# honeypot #}
    <input name="firstname" type="text" id="firstname" class="hide-robot">
    <button type="submit" name="submit">Valider</button>
</form>

{% endblock %}
