{% extends 'adminBase.html.twig' %}

{% block title %}Liste des rendez-vous{% endblock %}

{% block body %}

{# modal ajouter un évènement  #}
<div class="modal new-event">

  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Ajouter un évènement</p>
    <form id="new-event" method="POST">
      <div>
        <label for="title">Titre</label>
        <input type="text" name="title" class="title" value="nouvel evenement" required>
      </div>

      <div>
        <label for="start">Date de début</label>
        <input type="datetime-local" name="start" class="start" value="2024-09-12T12:30:00" required>
      </div>

      <div>
        <label for="end">Date de fin</label>
        <input type="datetime-local" name="end" class="end" value="2024-09-12T13:30:00" required>
      </div>

      <div>
        <label for="user-select"></label>
        <select name="users" id="user-select" class="users">
          <option value="">------------user------------</option>
          {% for user in activeUsers %}
            <option value="{{user.email}}">{{user.email}}</option>
          {% endfor %}
        </select>

      </div>

        <button type="submit" class="contact-btn">Valider</button>
    </form>
  </div>

</div>

{# modal afficher évènement  #}
<div class="modal show-event">

  <div class="modal-content">
    <span class="close showModal">&times;</span>
    <h2>Informations sur l'évènement</h2>
    <p class="modalTitle"><b>Titre:</b> </p>
    <p class="modalUser"><b>Utilisateur:</b> </p>
    <p class="modalDate"><b>Date:</b> </p>
    <button class="modalDeleteBtn">Supprimer</button>
  </div>

</div>
<div id="calendrier" data-calendar="{{data}}">

</div>

<script src="
https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js
"></script>
<script src="{{asset('js/calendar.js')}}"></script>


{% endblock %}
