{% extends 'adminBase.html.twig' %}

{% block title %}Pannel admin{% endblock %}

{% block body %}

<section id="accueil-admin">
    <h1>Bienvenue sur le pannel admin</h1>
    
    <div id="diag-container">
        <h2>Etats des projets</h2>
        <div>
          {# renvoie un tableau json avec data-attribute pour chartjs  #}
          <canvas id="diag-etat-projet" data-etat-projet="{{ etatProjets|json_encode|e('html_attr') }}"></canvas>
        </div>

        <h2>Projets par mois</h2>
        <div>
          <canvas id="diag-projet-mois" data-projet-mois="{{ projetMois|json_encode|e('html_attr') }}"></canvas>
        </div>
    </div>

</section>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
{% endblock %}
