@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,500;1,500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Cormorant:ital,wght@0,500;1,500&display=swap');

/* ------------------------------variables  */
:root{
    /* couleurs fixes + */
    --nav-color: #0B3C49;
    --footer-color: #13292F;

    /* couleurs utilisés  */
    --light-green: #DDD8B8;
    --grey-green-color: #DAD7CD;
    --pastel-green-color: #B3CBB9;
    --burgundy-color: #5D2B42;
    --pink-color: #c4979942;
    /* --pink-color: #C49799; */

    /* polices d'ecriture  */
    --main-font: "Cormorant", serif;
    --title-font: "Cormorant SC", serif;

    /* tailles  */
    --p-font-size: 1.2rem;
    --nav-font-size: 1.4rem;
    --subtitle-font-size: 1.5rem;
    --semi-bold: 400;

    /* padding  */
    --main-padding: 20px;
    --small-padding: 5px;
    --footer-padding: 100px;
}


/* ----------------------------------general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}


#wrapper{
    font-family: var(--main-font);
    background-color: #F1F0F0;
    min-height: 100vh;
    position: relative;
}

#page-container{
    padding-bottom: var(--footer-padding);
}

img{
    width: 200px;
}

p{
    font-size: var(--p-font-size);
}

/* -------------------------------------------------------templates------------------------------------------------------- */

/* --------------header  */

#nav{
    display: flex;
    justify-content: space-around;
    background-color: var(--nav-color);
    padding: var(--main-padding) 0;
}

#nav>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav a{
    color: white;
    font-weight: var(--semi-bold);
    font-size: var(--nav-font-size);
    text-decoration: none;
    padding: var(--small-padding) 0;
}

header{
    margin-bottom: var(--main-padding);
}


/* ----------------footer */
footer{
    background-color: var(--footer-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-padding); 
}

footer p, footer a{
    text-align: center;
    color: white;
    padding: var(--main-padding) 0;
}

.footer-align{
    display: flex;
    justify-content: space-around;
}


/* ---------------------------------------------------------------landing page------------------------------------------------------- */

#home-intro p{
    background-color: var(--pink-color);
}


/* ---------------------------------------------------------------commerce------------------------------------------------------- */

/* --------batch/collection */

#nav-batch{
    display: flex;
    justify-content: space-around;
    padding: var(--main-padding) 0;
    background-color: var(--light-green);
    margin: var(--main-padding) 0;
}

#nav-batch a{
    font-size: var(--subtitle-font-size);
    color: black;
}

.basket-qtt{
    display: inline-flex;
    align-items: center;
}


.basket-qtt-nb{
    font-size: 1.5rem;
    padding: 0 var(--small-padding);
}

/* =================================================================================================================================================================
======================================================================ADMIN======================================================================================
================================================================================================================================================================= */

/* template */

#admin-nav{
    background-color: var(--burgundy-color);
    display: flex;
    justify-content: space-around;
    padding: var(--main-padding) 0;
}

#admin-nav>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#admin-nav a{
    color: white;
}