<h1>Bonjour {{ reservation.firstname }} {{ reservation.surname }}!</h1>

<p>Votre commande n°{{reservation}} a été préparée, elle est prête à être récupérée. </p>


<p>
    Cordialement,
    <br>
    <small>L'équipe Cérémonie Couture</small>
</p>
<img src="{{ email.image('@images/logo/cc.png') }}" width="150px" height="150px">