<h1>Bonjour {{ project.firstname }} {{ project.surname }}!</h1>

<p>Suite à votre demande de projet, l'équipe a finalisé un devis. </p>
<p>Vous le trouverez sur votre page profil, à télécharger puis à accepter ou refuser.</p>
<br>
<br>
<p><b>NOTE:</b> Si vous refusez ce devis, le projet sera cloturé.</p>
<p>Si vous avez la moindre question, n'hésitez pas à nous contacter aux coordonnées ci-dessous.</p>


<p>
    Cordialement,
    <br>
    <small>L'équipe Cérémonie Couture</small><br>
    <small>01 97 59 96 00</small><br>
    <small>diane@ceremonie-couture.fr</small>
</p>
<img src="{{ email.image('@images/logo/cc.png') }}" width="150px" height="150px">